go 1.26.8

use (
	.
	./admin
	./async
	./async/redis
	./connectors/postgres
	./connectors/redis
	./tests/integration
)

// Development-only versions. Release modules contain no local replacements.
replace github.com/Newton-School/gogo v1.0.0-alpha.1 => .
replace github.com/Newton-School/gogo/async v1.0.0-alpha.1 => ./async
replace github.com/Newton-School/gogo/admin v1.0.0-alpha.1 => ./admin
replace github.com/Newton-School/gogo/connectors/redis v1.0.0-alpha.1 => ./connectors/redis
replace github.com/Newton-School/gogo/connectors/postgres v1.0.0-alpha.1 => ./connectors/postgres
replace github.com/Newton-School/gogo/async/redis v1.0.0-alpha.1 => ./async/redis
