{% if nonfield_errors %}<ul class="errorlist" role="alert">{% for error in nonfield_errors %}<li>{{ error.Message }}</li>{% endfor %}</ul>{% endif %}
{% for fieldset in fieldsets %}<fieldset class="module aligned {{ fieldset.classes }}">
{% if fieldset.name %}{% if fieldset.collapse %}<details{% if fieldset.invalid %} open{% endif %}><summary>{% endif %}<h2 class="fieldset-heading">{{ fieldset.name }}</h2>{% if fieldset.collapse %}</summary>{% endif %}{% endif %}
{% if fieldset.description %}<div class="description">{{ fieldset.description }}</div>{% endif %}
{% for row in fieldset.rows %}{% if row.hidden %}{{ row.widget }}{% else %}
<div class="form-row{% if row.errors %} errors{% endif %} field-{{ row.name }}">
{% if row.id %}{% if row.errors %}<ul class="errorlist" id="{{ row.id }}_errors">{% for error in row.errors %}<li>{{ error.Message }}</li>{% endfor %}</ul>{% else %}<span id="{{ row.id }}_errors"></span>{% endif %}{% endif %}
<div><div class="flex-container{% if row.checkbox %} checkbox-row{% endif %}">
{% if row.checkbox %}{{ row.widget }}<label for="{{ row.id }}" class="vCheckboxLabel{% if row.required %} required{% endif %}">{{ row.label }}</label>
{% else %}{% if row.grouped or row.readonly %}<span{% if row.id %} id="{{ row.id }}_label"{% endif %} class="field-label{% if row.required %} required{% endif %}">{{ row.label }}:</span>{% else %}<label for="{{ row.id }}"{% if row.required %} class="required"{% endif %}>{{ row.label }}:</label>{% endif %}
{% if row.readonly %}<div class="readonly">{% if row.boolean_icon %}{% include "display_value.html" with value=row.value boolean_icon=row.boolean_icon %}{% else %}{{ row.value }}{% endif %}</div>{% else %}<div class="gogo-widget">{{ row.widget }}</div>{% endif %}{% endif %}
</div>{% if row.id %}<div class="help" id="{{ row.id }}_help">{{ row.help }}</div>{% endif %}</div></div>{% endif %}{% endfor %}
{% if fieldset.name and fieldset.collapse %}</details>{% endif %}</fieldset>{% endfor %}
